In [ ]:
import pandas as pd
import numpy as np

#import data

In [ ]:
df=pd.read_csv('/content/data.csv')

In [ ]:
df.head(2)

     DateTime    high     low  ...  wiki_Bitcoin  wiki_Cryptocurrency  wiki_Coinbase
0  2016-06-13  718.24  652.78  ...          6523                  992            222
1  2016-06-14  702.52  654.69  ...          5839                  997            189

[2 rows x 18 columns]

In [ ]:
df.tail(2)

        DateTime      high  ...  wiki_Cryptocurrency  wiki_Coinbase
1372  2021-12-01  59096.53  ...                 5674           2385
1373  2021-12-02  57409.48  ...                 3888           1229

[2 rows x 18 columns]

##Calculate 30-day return to create the class

In [ ]:
df['return']=df['close'].pct_change(30).shift(-30)

In [ ]:
df['return']

0      -0.065265
1      -0.044662
2      -0.053042
3      -0.138963
4      -0.184030
          ...
1369         NaN
1370         NaN
1371         NaN
1372         NaN
1373         NaN
Name: return, Length: 1374, dtype: float64

In [ ]:
df_new=df.dropna()

In [ ]:
df_new['class'] = np.where(df_new['return']>1, 1,0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_new['class']

0       0
1       0
2       0
3       0
4       0
       ..
1339    0
1340    0
1341    0
1342    0
1343    0
Name: class, Length: 1344, dtype: int64

In [ ]:
df_new.columns

Index(['DateTime', 'high', 'low', 'open', 'close', 'volumeto', 'ETH', 'SP500',
       'Russell_2000', 'Crude_oil', 'Gold', 'Silver', 'EUR/USD',
       'Treasury Yield 10 Years', 'USD/JPY', 'wiki_Bitcoin',
       'wiki_Cryptocurrency', 'wiki_Coinbase', 'return', 'class'],
      dtype='object')

In [ ]:
X=df_new[['high', 'low', 'open', 'close', 'volumeto', 'ETH', 'SP500',
       'Russell_2000', 'Crude_oil', 'Gold', 'Silver', 'EUR/USD',
       'Treasury Yield 10 Years', 'USD/JPY', 'wiki_Bitcoin',
       'wiki_Cryptocurrency', 'wiki_Coinbase']]

In [ ]:
X.head(2)

     high     low    open  ...  wiki_Bitcoin  wiki_Cryptocurrency  wiki_Coinbase
0  718.24  652.78  666.55  ...          6523                  992            222
1  702.52  654.69  700.07  ...          5839                  997            189

[2 rows x 17 columns]

In [ ]:
y=df_new[['class']]

In [ ]:
df_new['class'].unique()

array([0, 1])

In [ ]:
#new section

In [ ]:
X=df[['high', 'low', 'open', 'close', 'volumeto', 'ETH', 'SP500',
       'Russell_2000', 'Crude_oil', 'Gold', 'Silver', 'EUR/USD',
       'Treasury Yield 10 Years', 'USD/JPY', 'wiki_Bitcoin',
       'wiki_Cryptocurrency', 'wiki_Coinbase']]

#Apply PCA to the data

In [ ]:
from sklearn.preprocessing import StandardScaler
X_scaled = StandardScaler().fit_transform(X)

In [ ]:
from sklearn.decomposition import PCA

# Set the n_components=1
principal=PCA(n_components=7)
principal.fit(X_scaled)
x_pca=principal.transform(X_scaled)

In [ ]:
explained_variance=principal.explained_variance_ratio_

In [ ]:
explained_variance

array([0.55746787, 0.18415453, 0.10263912, 0.05342675, 0.02471069,
       0.01855497, 0.01660618])

In [ ]:
total_score=round(sum(explained_variance),2)

In [ ]:
total_score

0.96

In [ ]:
print(principal.explained_variance_)
print(principal.explained_variance_ratio_)
print(principal.explained_variance_ratio_.cumsum())

[9.48385619 3.13290712 1.7461358  0.90891634 0.42038762 0.31566428
 0.28251073]
[0.55746787 0.18415453 0.10263912 0.05342675 0.02471069 0.01855497
 0.01660618]
[0.55746787 0.7416224  0.84426151 0.89768827 0.92239896 0.94095393
 0.95756011]

In [ ]:
#Export data
x_pc_df = pd.DataFrame(data = x_pca
             , columns = ['pc_1', 'pc_2','pc_3','pc_4','pc_5','pc_6','pc_7'])

In [ ]:
x_new=x_pc_df

In [ ]:
x_new['class']=y

In [ ]:
x_new['date']=df['DateTime']

In [ ]:
print(len(x_new))

1374

In [ ]:
x_new.to_csv('/content/pca_results_7f_alldate.csv')